* {
    background-color: rgb(232, 196, 255);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

fieldset {
    background-color: white;
    border-radius: 5%;
    border-color: black;
    margin: 30px;
}

label {
    background-color: white;
}

input {
    background-color: white;
}

select {
    background-color: white;
}

.textarea {
    background-color: white;
    margin: 30px;
    padding: 20px;
    border-radius: 5%;
    border: 1.5px solid black;
}

textarea {
    background-color: white;
}

legend {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 10px;
}

.input {
    margin: 10px;
    background-color: white;
}

.buttons {
    margin: 10px;
    background-color: white;
}