* {
    background-color: rgb(232, 196, 255);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
    color: black;
}

h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: black;
}

button {
    background-color: purple;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5%;
    cursor: pointer;
    margin-left: 30px;
}

label {
    margin-left: 30px;
}

a {
    background-color: purple;
    color: white;
}

p {
    margin-left: 30px;
}
#signUpsCount {
    background-color: rgb(232, 196, 255);
}

table {
    background-color: white;
    border-collapse: collapse;
    width: 80%;
    margin: 30px auto;
    border: 1.5px solid black;
}

th {
    background-color: purple;
    color: white;
    padding: 10px;
    border: 1.5px solid black;
    font-size: 18px;
}

td {
    background-color: white;
    border: 1.5px solid black;
    font-size: 16px;
    padding: 10px;
}

span {
    background-color: white;
}
